// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//fontawesome
@import "~font-awesome/css/font-awesome.css";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    h3 {
        font-size: 1.4em;
    }
    i {
        font-size: 1.8em!important;
    }
    main{
        min-height: calc(100vh - 280px);
        margin-top: 20px;
    }
    header {
        background-color: $primary-color;
        #nav-top {
            background-color: #878787;
            a {
                color: white;
            }
            nav{
                padding: 3px 0;
            }
        }
    }
    footer{
        .footer-social {
            .nav-item{
                padding: 10px;
            }
        }
    }
}
